* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    max-width: 1200px;
    width: 66%;
    margin: 0 auto 0;
    border: 3px solid #931420;
    background-color: #fffded;
}

header {
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(#f6bb73, white);
}

header img {
    padding: 1em;
    min-width: 70px;
    max-width: 100%;
    width: auto;
}

header h1 {
    color: maroon;
    font-size: 200%;
}

header h2 {
    font-size: 1.5em;
    color: #800000;
    padding-left: 1em;
}

header h3 {
    font-size: 200%;
    font-style: italic;
    padding-left: 1em;
}

/* *************************************************************
**********************nav_menu**********************************
************************************************************* */

#nav_menu {
    border-bottom: 3px solid #800000;
    background-color: #800000;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}

#nav_menu a:hover {
    color: yellow;
}

main {
    padding: 1em;
    display: flex;
}

main section {
    width: 70%;
    padding-left: 1em;
}

main section blockquote {
    padding-bottom: 1em;
}

main aside {
    width: 30%;
    padding-right: 1em;
}

main h1 {
    font-size: 1.5em;
    padding: .3em 0;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
    max-width: 100%;
    min-width: 70px;
    width: auto;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

a:hover {
    font-style: italic;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #931420;
}

footer p {
    color: white;
    padding: 0 1em 0;
}

#shadow {
    text-shadow: 2px 2px 3px #800000;
}

#mobilemenu {
    display: none;   
}

/* ****************************************************************
***********************mediaqueries********************************
**************************************************************** */

@media only screen and (max-width: 900px){
    body {
        box-shadow: none;
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px){
      header h1 {
        font-size: 200%;
    }
    
    main {
        flex-direction: column;
        align-items: center;
    }

    section,
    aside {
        width: 95%;
    }

    #mobilemenu {
        display: block;
    }

    #mobilemenu a {
        color: white;
        text-decoration: none;
        display: block;
        padding: .25em;
    }

    #mobilemenu ul {
        list-style-type: none;
    }

    #nav_menu {
        display: none;
    }

    .slicknav_menu {
        background-color: #800000;
        list-style-type: none;
    }
}

@media only screen and (max-width: 479px) {
    header h1,
    header h3 {
        font-size: 100%;
    }
    section p {
        font-size: 90%;
    }
}
